<phpunit backupGlobals="true"
         backupStaticAttributes="true"
         bootstrap="tests/bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false"
         syntaxCheck="false"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader">
  <!-- ... -->
<testsuites>
  <testsuite>
    <directory>./tests/</directory>
  </testsuite>
</testsuites>
</phpunit>
